.mediaViewInfo {
	--web-view-name: aboutus;
	--web-view-id: aboutus;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: aboutus;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	
}
#aboutus {
	position: absolute;
	width: 1311px;
	height: 2280px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: aboutus;
	--web-view-id: aboutus;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
#IMG_8781 {
	opacity: 0.12;
	position: absolute;
	width: 1316px;
	height: 877px;
	left: -14px;
	top: 51px;
	overflow: visible;
}

#Smart_Label_printers_Ltd_began {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 580px;
	top: 138px;
	position: absolute;
	overflow: visible;
	width: 612px;
	height: 225px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#About_US {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 580px;
	top: 99px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#link{
			text-decoration: none;
			color:#ffffff;

		}
		#link:hover{
			text-decoration: none;
		     color: rgba(255,165,0,1);

		}
		#link1{
			text-decoration: none;
			color:#ffffff;


		}
		#link1:hover{
			text-decoration: none;
		    color: rgba(255,165,0,1);

		}
		#link2{
			text-decoration: none;
			color:#ffffff;
		}
		#link2:hover{
			text-decoration: none;
			color: rgba(255,165,0,1);
		}
		#link3{
			text-decoration: none;
			color: #ffffff;
		}
		#link3:hover{
			text-decoration: none;
			color: rgba(255,165,0,1);
		}
		

		#link4{
			text-decoration: none;
			color: #ffffff;
		}
		#link4:hover{
			text-decoration: none;
			color: rgba(255,165,0,1);
		}
		#infosmartlabelcoke_salessmart2 {
	left: 77px;
	top: 119px;
	position: absolute;
	overflow: visible;
	width: 166px;
	height: 55px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Mission_ {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 580px;
	top: 261px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#To_achieve_a_stable_market_lea {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 580px;
	top: 282px;
	position: absolute;
	overflow: visible;
	width: 615px;
	height: 225px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Vision {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 581px;
	top: 352px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#To_convey_the_message_of_our_c {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 584px;
	top: 373px;
	position: absolute;
	overflow: visible;
	width: 606px;
	height: 104px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Quality_of_Service {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 579px;
	top: 433px;
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#We_pride_ourselves_on_the_qual {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 579px;
	top: 459px;
	position: absolute;
	overflow: visible;
	width: 631px;
	height: 334px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Untitled-design-1-3 {
	position: absolute;
	width: 193px;
	height: 97px;
	left: 23px;
	top: 93px;
	overflow: visible;
}
#KSL-Logo_1 {
	position: absolute;
	width: 118px;
	height: 104px;
	left: 225px;
	top: 98px;
	overflow: visible;
}
#ID10110071high {
	position: absolute;
	width: 135px;
	height: 72px;
	left: 379px;
	top: 114px;
	overflow: visible;
}
#full-m2i8m2H7d3G6H7i8-removebg {
	position: absolute;
	width: 131px;
	height: 172px;
	left: 68px;
	top: 208px;
	overflow: visible;
}
#download_2 {
	position: absolute;
	width: 66.5px;
	height: 102px;
	left: 257px;
	top: 250px;
	overflow: visible;
}
#Di3qIJjXcAAwl_d {
	position: absolute;
	width: 177px;
	height: 77px;
	left: 359px;
	top: 263px;
	overflow: visible;
}
#download__3_-removebg-preview {
	position: absolute;
	width: 88px;
	height: 88px;
	left: 76px;
	top: 433px;
	overflow: visible;
}
#Asset_5 {
	position: absolute;
	width: 87.768px;
	height: 103.485px;
	left: 240.415px;
	top: 425.016px;
	overflow: visible;
}
#unnamed-removebg-preview {
	position: absolute;
	width: 149px;
	height: 149px;
	left: 379px;
	top: 380px;
	overflow: visible;
}
#Premium_Drinking_Water {
	left: 368px;
	top: 474px;
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 16px;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(112,112,112,1);
}
#blue-smooth-wall-textured-back {
	position: absolute;
	width: 1304px;
	height: 290px;
	left: 0px;
	top: 638px;
	overflow: visible;
}
#Director {
	position: absolute;
	width: 163px;
	height: 140px;
	left: 397px;
	top: 786px;
	overflow: visible;
}
#ID2382e883-353c-4aa3-9b7d-5054 {
	position: absolute;
	width: 316px;
	height: 237px;
	left: 512px;
	top: 626px;
	overflow: visible;
}
#Rectangle_30 {
	opacity: 0.97;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_30 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 542px;
	height: 866px;
	left: 24px;
	top: 983px;
}
#Reviews {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 225px;
	top: 993px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Ellipse_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 44px;
	left: 46px;
	top: 1046px;
}
#user {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 55px;
	top: 1052px;
	overflow: visible;
}
#Rectangle_31 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_31 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 349px;
	height: 128px;
	left: 112px;
	top: 1054px;
}

#Rectangle_35 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 229px;
	height: 36px;
	left: 683px;
	top: 1469px;
	border-style:solid;
	border-radius:10px;
	padding:10px;
}

#Rectangle_377 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 505px;
	height: 143px;
	left: 676px;
	top: 1604px;
	border-style:solid;
	border-radius: 10px;
	padding:10px;
}
#Full_Name {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 691px;
	top: 1437px;
	position: absolute;
	overflow: visible;
	width: 138px;
	height: 20px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Company {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 951px;
	top: 1436px;
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 32px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Write_Review {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 684px;
	top: 1583px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 21px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Rectangle_39 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_39 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 632px;
	height: 508px;
	left: 612px;
	top: 1342px;
}
#ID28916867-removebg-preview {
	position: absolute;
	width: 194px;
	height: 135px;
	left: 823px;
	top: 1029px;
	overflow: visible;
}
#Ellipse_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 44px;
	left: 44px;
	top: 1233px;
}
#user_bk {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 53px;
	top: 1239px;
	overflow: visible;
}
#Ellipse_3 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 44px;
	left: 46px;
	top: 1450px;
}
#user_bm {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 55px;
	top: 1457px;
	overflow: visible;
}
#Ellipse_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 44px;
	left: 44px;
	top: 1661px;
}
#user_bo {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 53px;
	top: 1668px;
	overflow: visible;
}
#Rectangle_68 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_68 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 349px;
	height: 128px;
	left: 112px;
	top: 1238px;
}
#Rectangle_69 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_69 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 349px;
	height: 128px;
	left: 112px;
	top: 1449px;
}
#Rectangle_70 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_70 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 349px;
	height: 128px;
	left: 112px;
	top: 1643px;
}

#Rectangle_71 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 229px;
	height: 36px;
	left: 935px;
	top: 1468px;
	border-style: solid;
	border-radius: 10px;
	padding:10px;
}
#SEND_FEEDBACK {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 714px;
	top: 1364px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: right;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Rectangle_72 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_72 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 53px;
	left: 1074px;
	top: 1758px;
}
#SEND {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1108px;
	top: 1768px;
	position: absolute;
	overflow: visible;
	width: 63px;
	height: 25px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#Group_2 {
	position: absolute;
	width: 1368px;
	height: 420px;
	left: 0px;
	top: 1869px;
	overflow: visible;
}
#Rectangle_8 {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 1312px;
	height: 415px;
	left: 0px;
	top: 0px;
}
#GET_IN_TOUCH_ {
	left: 36px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 214px;
	text-align: right;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	text-decoration: underline;
}
#phone {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 37px;
	top: 107px;
	overflow: visible;
}
#gmail {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 37px;
	top: 175px;
	overflow: visible;
}
#infosmartlabelcoke_salessmartl {
	left: 77px;
	top: 177px;
	position: absolute;
	overflow: visible;
	width: 166px;
	height: 55px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#OUR_INFO__Home___Our_Services_ {
	left: 572px;
	top: 69px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	cursor: pointer;
	
}
#ourinfo{
	text-decoration: underline;
}
#SUBSCRIBE_NEWSLETTER__Email__ {
	left: 942px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	
}
#Group_3 {
	position: absolute;
	width: 451px;
	height: 204px;
	left: 244px;
	top: 48px;
	overflow: visible;
	display: none;
}
#Rectangle_3 {
	opacity: 0.78;
	fill: rgba(169,169,169,1);
}
.Rectangle_3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 302px;
	height: 202px;
	left: 0px;
	top: 0px;
}
#Graphics_Design_b {
	left: 26px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 31px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color:#ffffff;
	letter-spacing: 2px;
}
#Graphics_Design_b:Hover {
	color: rgba(255,165,0,1);
}
#Packaging {
	left: 27px;
	top: 129px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 39px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
}
#Packaging:Hover {
 color:rgba(255,165,0,1);
}
#Quality_Assurance {
	left: 26px;
	top: 93px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 39px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
}
#Quality_Assurance:Hover{
	color:rgba(255,165,0,1);;

}
#Printing_cb {
	left: 29px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 31px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
}
#Printing_cb:hover{
	color:rgba(255,165,0,1);
}
#Delivery {
	left: 25px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 39px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
}
#Delivery:Hover{
	color:rgba(255,165,0,1);
}
#Rectangle_90 {
	position: absolute;
	overflow: visible;
	width: 281px;
	height: 38px;
	left: 939px;
	top: 134px;
	border-style: solid;
	border-radius: 10px;
	padding:10px;

}
#Rectangle_10 {
	fill: rgba(255,165,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 24px;
	left: 961px;
	top: 202px;
	cursor: pointer;
}
#subscribe_ {
	left: 981px;
	top: 206px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}

#copy{
	position: absolute;
	left: 620px;
	top: 392px;
    text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	
}
#Stay_in_The_Know_ {
	left: 475px;
	top: 364px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 49px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#instagram {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 701px;
	top: 357px;
	overflow: visible;
}
#facebook {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 772px;
	top: 357px;
	overflow: visible;
}
#linkedin {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 626px;
	top: 358px;
	overflow: visible;
}
#Weve_been_using_this_label_pri {
	left: 126px;
	top: 1063px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 92px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#The_team_at_this_company_goes_ {
	left: 126px;
	top: 1250px;
	position: absolute;
	overflow: visible;
	width: 318px;
	height: 98px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#We_love_working_with_this_labe {
	left: 126px;
	top: 1458px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 98px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#From_start_to_finish_this_comp {
	left: 126px;
	top: 1651px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 107px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#Sales_Team {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 131px;
	top: 1031px;
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 36px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Kaluworks {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 224px;
	top: 1031px;
	position: absolute;
	overflow: visible;
	width: 93px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Sales_Team_ch {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 131px;
	top: 1217px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Equity_Afia {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 225px;
	top: 1217px;
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Sales_Team_cj {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 131px;
	top: 1428px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Narcol_Aluminium {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 225px;
	top: 1428px;
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 40px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Sales_Team_Tropical_Lush_Ltd {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 140px;
	top: 1622px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 21px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Group_8 {
	position: absolute;
	width: 1300px;
	height: 59px;
	left: 4px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(169,169,169,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1300px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#_HOME {
	left: 175px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 58px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#_HOME:hover{
	color: rgba(255,165,0,1);
}
#_OUR_SERVICES_ {
	left: 283px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 49px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#_OUR_SERVICES_:hover{
	color: rgba(255,165,0,1);
}

#_NEWSLETTER_ {
	left: 450px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 49px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#_NEWSLETTER_:hover{
		color: rgba(255,165,0,1);
}
#_ABOUT_US_ {
	left: 622px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 129px;
	height: 48px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
	cursor: pointer;
}