.mediaViewInfo {
	--web-view-name: aboutus;
	--web-view-id: aboutus;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: aboutus;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	overflow-x:hidden;
}
#aboutus {
	
	position: absolute;
	width: 1310px;
	height: 2353px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: aboutus;
	--web-view-id: aboutus;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
	margin-left: 20px;
}
#IMG_8781 {
	opacity: 0.12;
	position: absolute;
	width: 1316px;
	height: 877px;
	left: -12px;
	top: 126px;
	overflow: visible;
}
#Rectangle_29 {
	opacity: 0.2;
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	height: 850px;
}
.Rectangle_29 {
	position: absolute;
	overflow: visible;
	width: 1300px;
	height:1000px;
	left: 6px;
	top: 128px;
}
#copy{
	position: absolute;
	left: 620px;
	top: 388px;
    text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	
}
#infosmartlabelcoke_salessmart2 {
	left: 77px;
	top: 115px;
	position: absolute;
	overflow: visible;
	width: 166px;
	height: 55px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Smart_Label_printers_Ltd_began {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 582px;
	top: 213px;
	position: absolute;
	overflow: visible;
	width: 612px;
	height: 225px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#About_US {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 582px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Mission_ {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 582px;
	top: 336px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#To_achieve_a_stable_market_lea {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 582px;
	top: 357px;
	position: absolute;
	overflow: visible;
	width: 615px;
	height: 225px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Vision {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 583px;
	top: 427px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#To_convey_the_message_of_our_c {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 586px;
	top: 448px;
	position: absolute;
	overflow: visible;
	width: 606px;
	height: 104px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Quality_of_Service {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 581px;
	top: 508px;
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#We_pride_ourselves_on_the_qual {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 581px;
	top: 534px;
	position: absolute;
	overflow: visible;
	width: 631px;
	height: 334px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Untitled-design-1-3 {
	position: absolute;
	width: 193px;
	height: 97px;
	left: 25px;
	top: 168px;
	overflow: visible;
}
#KSL-Logo_1 {
	position: absolute;
	width: 118px;
	height: 104px;
	left: 227px;
	top: 173px;
	overflow: visible;
}
#ID10110071high {
	position: absolute;
	width: 135px;
	height: 72px;
	left: 381px;
	top: 189px;
	overflow: visible;
}
#full-m2i8m2H7d3G6H7i8-removebg {
	position: absolute;
	width: 131px;
	height: 172px;
	left: 70px;
	top: 283px;
	overflow: visible;
}
#download_2 {
	position: absolute;
	width: 66.5px;
	height: 102px;
	left: 259px;
	top: 325px;
	overflow: visible;
}
#Di3qIJjXcAAwl_d {
	position: absolute;
	width: 177px;
	height: 77px;
	left: 361px;
	top: 338px;
	overflow: visible;
}
#download__3_-removebg-preview {
	position: absolute;
	width: 88px;
	height: 88px;
	left: 78px;
	top: 508px;
	overflow: visible;
}
#Asset_5 {
	position: absolute;
	width: 87.768px;
	height: 103.485px;
	left: 242.415px;
	top: 500.016px;
	overflow: visible;
}
#unnamed-removebg-preview {
	position: absolute;
	width: 149px;
	height: 149px;
	left: 381px;
	top: 455px;
	overflow: visible;
}
#Premium_Drinking_Water {
	left: 370px;
	top: 549px;
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 16px;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(112,112,112,1);
}
#blue-smooth-wall-textured-back {
	position: absolute;
	width: 1304px;
	height: 290px;
	left: 2px;
	top: 713px;
	overflow: visible;
}
#Director {
	position: absolute;
	width: 303px;
	height: 259px;
	left: 353px;
	top: 760px;
	overflow: visible;
}
#ID2382e883-353c-4aa3-9b7d-5054 {
	position: absolute;
	width: 374px;
	height: 280px;
	left: 597px;
	top: 701px;
	overflow: visible;
}
#Rectangle_30 {
	opacity: 0.97;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_30 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 542px;
	height: 866px;
	left: 26px;
	top: 1058px;
}
#Reviews {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 227px;
	top: 1068px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Ellipse_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 44px;
	left: 48px;
	top: 1121px;
}
#user {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 57px;
	top: 1127px;
	overflow: visible;
}
#Rectangle_31 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_31 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 349px;
	height: 128px;
	left: 114px;
	top: 1129px;
}
#ID28916867-removebg-preview {
	position: absolute;
	width: 194px;
	height: 135px;
	left: 825px;
	top: 1104px;
	overflow: visible;
}
#Ellipse_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 44px;
	left: 46px;
	top: 1308px;
}
#user_be {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 55px;
	top: 1314px;
	overflow: visible;
}
#Ellipse_3 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 44px;
	left: 48px;
	top: 1525px;
}
#user_bg {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 57px;
	top: 1532px;
	overflow: visible;
}
#Ellipse_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 44px;
	left: 46px;
	top: 1736px;
}
#user_bi {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 55px;
	top: 1743px;
	overflow: visible;
}
#Rectangle_68 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_68 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 349px;
	height: 128px;
	left: 114px;
	top: 1313px;
}
#Rectangle_69 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_69 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 349px;
	height: 128px;
	left: 114px;
	top: 1524px;
}
#Rectangle_70 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_70 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 349px;
	height: 128px;
	left: 114px;
	top: 1718px;
}
#Group_14 {
	position: absolute;
	width: 407px;
	height: 422px;
	left: 705px;
	top: 1418px;
	overflow: visible;
}
#Rectangle_39 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_39 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 425px;
	height: 440px;
	left: 0px;
	top: 0px;
}

#Rectangle_35 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 168px;
	height: 25px;
	left: 17px;
	top: 100px;
	border-style: solid;
	padding: 10px;
	border-width: 0.1px;
	border-radius: 5px;
}

#Rectangle_37 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 376px;
	height: 143px;
	left: 17px;
	top: 212px;
	border-style: solid;
	padding: 10px;
	border-width: 0.1px;
	border-radius: 5px;

}
#Full_Name {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 17px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 138px;
	height: 20px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Company {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 220px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 32px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Write_Review {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 17px;
	top: 190px;
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 21px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}

#Rectangle_71 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 168px;
	height: 25px;
	left: 220px;
	top: 100px;
	border-style: solid;
	padding: 10px;
	border-width: 0.1px;
	border-radius: 5px;
}
#SEND_FEEDBACK {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 21px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: right;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Rectangle_72 {
	fill: rgba(255,165,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_72 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 53px;
	left: 267px;
	top: 375px;
}
#SEND {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 303px;
	top: 387px;
	position: absolute;
	overflow: visible;
	width: 63px;
	height: 25px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#Group_2 {
	position: absolute;
	width: 1329px;
	height: 415px;
	left: 2px;
	top: 1944px;
	overflow: visible;
}
#Rectangle_8 {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 1312px;
	height: 415px;
	left: 0px;
	top: 0px;
}
#GET_IN_TOUCH_ {
	left: 36px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 214px;
	text-align: right;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	text-decoration: underline;
}
#phone {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 37px;
	top: 107px;
	overflow: visible;
}
#gmail {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 37px;
	top: 175px;
	overflow: visible;
}
#infosmartlabelcoke_salessmartl {
	left: 77px;
	top: 177px;
	position: absolute;
	overflow: visible;
	width: 166px;
	height: 55px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#OUR_INFO__Home___Our_Services_ {
	left: 572px;
	top: 69px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	cursor: pointer;
	
}
#ourinfo{
	text-decoration: underline;
			}
#SUBSCRIBE_NEWSLETTER__Email__ {
	left: 942px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	text-decoration: underline;
}
#empy{
	left: 17px;
	top: 130px;
	color:darkred;
	position: absolute;
    font-size: 12px;

}

#empy2{
	 left: 220px;
	 top: 130px;
	 color:darkred;
	 position: absolute;
	 font-size: 12px;
}
#link{
			text-decoration: none;
			color:#ffffff;

		}
		#link:hover{
			text-decoration: none;
		     color: rgba(255,165,0,1);

		}
		#link1{
			text-decoration: none;
			color:#ffffff;


		}
		#link1:hover{
			text-decoration: none;
		    color: rgba(255,165,0,1);

		}
		#link2{
			text-decoration: none;
			color:#ffffff;
		}
		#link2:hover{
			text-decoration: none;
			color: rgba(255,165,0,1);
		}
		#link3{
			text-decoration: none;
			color: #ffffff;
		}
		#link3:hover{
			text-decoration: none;
			color: rgba(255,165,0,1);
		}
		

		#link4{
			text-decoration: none;
			color: #ffffff;
		}
		#link4:hover{
			text-decoration: none;
			color: rgba(255,165,0,1);
		}

#Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 30px;
	left: 939px;
	top: 134px;
	border-style: solid;
	padding: 10px;
	border-width: 0.1px;
	border-radius: 5px;
}
#Rectangle_10 {
	fill: rgba(255,165,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 24px;
	left: 940px;
	top: 180px;
}
#subscribe_ {
	left: 960px;
	top: 185px;
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 75px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#Stay_in_The_Know_ {
	left: 475px;
	top: 364px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 49px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#instagram {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 701px;
	top: 357px;
	overflow: visible;
}
#facebook {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 772px;
	top: 357px;
	overflow: visible;
}
#linkedin {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 626px;
	top: 358px;
	overflow: visible;
}
#Weve_been_using_this_label_pri {
	left: 128px;
	top: 1138px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 92px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#The_team_at_this_company_goes_ {
	left: 128px;
	top: 1325px;
	position: absolute;
	overflow: visible;
	width: 318px;
	height: 98px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#We_love_working_with_this_labe {
	left: 128px;
	top: 1533px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 98px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#From_start_to_finish_this_comp {
	left: 128px;
	top: 1726px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 107px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#Sales_Team {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 133px;
	top: 1106px;
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 36px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Kaluworks {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 226px;
	top: 1106px;
	position: absolute;
	overflow: visible;
	width: 93px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Sales_Team_ci {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 133px;
	top: 1292px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Equity_Afia {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 227px;
	top: 1292px;
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Sales_Team_ck {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 133px;
	top: 1503px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Narcol_Aluminium {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 227px;
	top: 1503px;
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 40px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Sales_Team_Tropical_Lush_Ltd {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 142px;
	top: 1697px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 21px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Group_12 {
	position: absolute;
	width: 1165px;
	height: 151px;
	left: 39px;
	top: -4px;
	overflow: visible;
}
#Asset_3 {
	position: absolute;
	width: 89px;
	height: 130px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#SMARTLABEL__PRINTERS {
	left: 89px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 219px;
	height: 119px;
	text-align: center;
	font-family: Epson LW Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,170,0,1);
}
#_HOME {
	left: 476px;
	top: 57px;
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 36px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#_HOME:hover{
	color:rgba(255,165,0,1);
}
#_OUR_SERVICES_ {
	left: 581px;
	top: 57px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 36px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
	cursor:pointer;
}
#_OUR_SERVICES_:hover{
	color:rgba(255,165,0,1);
}
#_NEWSLETTER_ {
	left: 782px;
	top: 57px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 47px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#_NEWSLETTER_:hover{
	color:rgba(255,165,0,1);
}
#_ABOUT_US_ {
	left: 983px;
	top: 57px;
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 50px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#Group_3 {
	position: absolute;
	width: 290px;
	height: 204px;
	left: 603px;
	top: 94px;
	overflow: visible;
	display: none;
}
#Rectangle_3 {
	opacity: 0.78;
	fill: rgba(169,169,169,1);
}
.Rectangle_3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 302px;
	height: 202px;
	left: 0px;
	top: 0px;
}
#Graphics_Design {
	left: 26px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 31px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Packaging {
	left: 27px;
	top: 129px;
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 39px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Quality_Assurance {
	left: 26px;
	top: 93px;
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 39px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Printing {
	left: 29px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 31px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Delivery {
	left: 25px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 39px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
