.mediaViewInfo {
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#index {
	position: absolute;
	width: 1312px;
	height: 5667px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Image_1 {
	position: absolute;
	width: 1295px;
	height: 620px;
	left: 6px;
	top: 68px;
	overflow: visible;
}
#Rectangle_54 {
	opacity: 0.6;
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54 {
	position: absolute;
	overflow: visible;
	width: 644px;
	height: 626px;
	left: 658px;
	top: 66px;
}
#label {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 141px;
	height: 141px;
	left: 696px;
	top: 513px;
	overflow: visible;
}
#SMART_LABEL__PRINTERS {
	left: 767px;
	top: 137px;
	position: absolute;
	overflow: visible;
	width: 526px;
	height: 119px;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Rectangle_4 {
	opacity: 0.93;
	fill: rgba(255,165,0,1);
	stroke: rgba(255,165,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 712px;
	height: 381px;
	left: 8px;
	top: 699px;
}
#Path_1 {
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 133px;
	height: 38px;
	left: 523px;
	top: 990px;
	transform: matrix(1,0,0,1,0,0);
}
#food {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 145px;
	height: 145px;
	left: 713px;
	top: 765px;
	overflow: visible;
}
#blue {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 135px;
	height: 135px;
	left: 869px;
	top: 775px;
	overflow: visible;
}
#label_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 140px;
	height: 140px;
	left: 1015px;
	top: 770px;
	overflow: visible;
}
#shopping {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 109px;
	height: 123px;
	left: 1183px;
	top: 771px;
	overflow: visible;
}
#We_believe_in_the_power_of_pri {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 37px;
	top: 870px;
	position: absolute;
	overflow: visible;
	width: 620px;
	height: 104px;
	line-height: 40px;
	margin-top: -11px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 503px;
	height: 128px;
	left: 199px;
	top: 707px;
}
#EXPERIENCE_THE__artistry_OF__L {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 6px;
	top: 713px;
	position: absolute;
	overflow: visible;
	width: 884px;
	height: 168px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 7px;
}
#Rectangle_6 {
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6 {
	filter: drop-shadow(0px 7px 3px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1303px;
	height: 563.5px;
	left: 6px;
	top: 1282px;
}
#BRINGING_YOUR_IDEAS_TO_LIFE__O {
	filter: drop-shadow(0px 20px 0px rgba(0, 0, 0, 0.161));
	left: 221px;
	top: 1100px;
	position: absolute;
	overflow: visible;
	width: 1066px;
	height: 314px;
	line-height: 90px;
	margin-top: -30px;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 7px;
}
#Rectangle_7 {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 661px;
	height: 404px;
	left: 649px;
	top: 1434px;
}
#We_understand_the_importance_o {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 611px;
	top: 1486px;
	position: absolute;
	overflow: visible;
	width: 666px;
	height: 304px;
	line-height: 70px;
	margin-top: -23px;
	text-align: right;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Rectangle_8 {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 1312px;
	height: 415px;
	left: 0px;
	top: 5256px;
}
#GET_IN_TOUCH_ {
	left: 36px;
	top: 5327px;
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 214px;
	text-align: right;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	text-decoration: underline;
}
#phone {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 37px;
	top: 5363px;
	overflow: visible;
}
#gmail {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 37px;
	top: 5431px;
	overflow: visible;
}
#infosmartlabelcoke_salessmartl {
	left: 77px;
	top: 5433px;
	position: absolute;
	overflow: visible;
	width: 166px;
	height: 55px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#infosmartlabelcoke_salessmart2 {
	left: 77px;
	top: 5376px;
	position: absolute;
	overflow: visible;
	width: 166px;
	height: 55px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#OUR_INFO__Home___Our_Services_ {
	left: 572px;
	top: 5325px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#ourinfo{
		text-decoration: underline;
}
	2 {
	left: 77px;
	top: 119px;
	position: absolute;
	overflow: visible;
	width: 166px;
	height: 55px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}

#SUBSCRIBE_NEWSLETTER__Email__ {
	left: 942px;
	top: 5323px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	
}
#copy{
	position: absolute;
	left: 620px;
	top: 5645px;
    text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	
}
#Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 281px;
	height: 38px;
	left: 939px;
	top: 5390px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
}
#Rectangle_10 {
	fill: rgba(255,165,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 24px;
	left: 961px;
	top: 5458px;
}
#subscribe_ {
	left: 981px;
	top: 5462px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	cursor:pointer;
}
#OUR_INFO__Home_Products__Servi {
	left: 391px;
	top: 2859px;
	position: absolute;
	overflow: hidden;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Stay_in_The_Know_ {
	left: 475px;
	top: 5620px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#instagram {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 701px;
	top: 5613px;
	overflow: visible;
}
#facebook {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 772px;
	top: 5613px;
	overflow: visible;
}
#linkedin {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 626px;
	top: 5614px;
	overflow: visible;
}
#blue-smooth-wall-textured-back {
	position: absolute;
	width: 941px;
	height: 1522px;
	left: 6px;
	top: 1848px;
	overflow: visible;
}
#Why_Choose_Us_ {
	left: 45px;
	top: 1889px;
	position: absolute;
	overflow: visible;
	width: 507px;
	height: 90px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#harpic_power_plus {
	position: absolute;
	width: 542px;
	height: 542px;
	left: 714px;
	top: 2368px;
	overflow: visible;
}
#Bring_your_ideas_to_life_with_ {
	left: 17px;
	top: 2058px;
	position: absolute;
	overflow: visible;
	width: 873px;
	height: 213px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#UNLEASH_YOUR_CREATIVITY {
	left: 33px;
	top: 1967px;
	position: absolute;
	overflow: visible;
	width: 636px;
	height: 90px;
	line-height: 95px;
	margin-top: -27.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#PERSONALIZED_SERVICE_PERSONALI {
	left: 37px;
	top: 2205px;
	position: absolute;
	overflow: visible;
	width: 879px;
	height: 138px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Group_6 {
	position: absolute;
	width: 1300px;
	height: 66px;
	left: 4px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(169,169,169,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1300px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Group_3 {
	position: absolute;
	width: 451px;
	height: 204px;
	left: 244px;
	top: 48px;
	overflow: visible;
     display: none;

}
#Rectangle_3 {
	opacity: 0.78;
	fill: rgba(169,169,169,1);
}
.Rectangle_3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 302px;
	height: 202px;
	left: 0px;
	top: 0px;
}
#Graphics_Design_b {
	left: 26px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 31px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color:#ffffff;
	letter-spacing: 2px;
}
#Graphics_Design_b:Hover {
	color: rgba(255,165,0,1);
}
#Packaging {
	left: 27px;
	top: 129px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 39px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
}
#Packaging:Hover {
 color:rgba(255,165,0,1);
}
#Quality_Assurance {
	left: 26px;
	top: 93px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 39px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
}
#Quality_Assurance:Hover{
	color:rgba(255,165,0,1);;

}
#Printing_cb {
	left: 29px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 31px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
}
#Printing_cb:hover{
	color:rgba(255,165,0,1);
}
#Delivery {
	left: 25px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 39px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
}
#Delivery:Hover{
	color:rgba(255,165,0,1);
}
#link{
			text-decoration: none;
			color:#ffffff;

		}
		#link:hover{
			text-decoration: none;
		     color: rgba(255,165,0,1);

		}
		#link1{
			text-decoration: none;
			color:#ffffff;


		}
		#link1:hover{
			text-decoration: none;
		    color: rgba(255,165,0,1);

		}
		#link2{
			text-decoration: none;
			color:#ffffff;
		}
		#link2:hover{
			text-decoration: none;
			color: rgba(255,165,0,1);
		}
		#link3{
			text-decoration: none;
			color: #ffffff;
		}
		#link3:hover{
			text-decoration: none;
			color: rgba(255,165,0,1);
		}
		

		#link4{
			text-decoration: none;
			color: #ffffff;
		}
		#link4:hover{
			text-decoration: none;
			color: rgba(255,165,0,1);
		}
#_HOME {
	left: 173px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 58px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#_OUR_SERVICES_ {
	left: 278px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 123px;
	height: 47px;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: services.html;
	cursor: pointer;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#_OUR_SERVICES_:Hover{
	color: rgba(255,165,0,1);
}
#_NEWSLETTER_ {
	left: 380px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 49px;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: newsletter.html;
	cursor: pointer;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#_NEWSLETTER_:Hover{
	color: rgba(255,165,0,1);
}

#_ABOUT_US_ {
	left: 600px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 198px;
	height: 50px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#_ABOUT_US_ :Hover{
	color: rgba(255,165,0,1);
}
#Asset_1 {
	position: absolute;
	width: 282px;
	height: 292px;
	left: 1004px;
	top: 1862px;
	overflow: visible;
}
#Asset_2 {
	position: absolute;
	width: 177px;
	height: 274px;
	left: 1099px;
	top: 2241px;
	overflow: visible;
}
#ID10110071high {
	position: absolute;
	width: 226px;
	height: 121px;
	left: 103px;
	top: 4841px;
	overflow: visible;
}
#full-m2i8m2H7d3G6H7i8-removebg {
	position: absolute;
	width: 220px;
	height: 289px;
	left: 76px;
	top: 4940px;
	overflow: visible;
}
#Asset_3 {
	position: absolute;
	width: 129px;
	height: 188px;
	left: 707px;
	top: 75px;
	overflow: visible;
}
#KSL-Logo-removebg-preview {
	position: absolute;
	width: 202px;
	height: 178px;
	left: 366px;
	top: 4820px;
	overflow: visible;
}
#download_2 {
	position: absolute;
	width: 90.5px;
	height: 139px;
	left: 406.786px;
	top: 5009.063px;
	overflow: visible;
}
#Di3qIJjXcAAwl_d {
	position: absolute;
	width: 274px;
	height: 120px;
	left: 602px;
	top: 4859px;
	overflow: visible;
}
#download__3_-removebg-preview {
	position: absolute;
	width: 146px;
	height: 146px;
	left: 645px;
	top: 5021px;
	overflow: visible;
}
#Asset_5 {
	position: absolute;
	width: 114px;
	height: 136px;
	left: 942px;
	top: 4857px;
	overflow: visible;
}
#unnamed-removebg-preview {
	position: absolute;
	width: 283px;
	height: 283px;
	left: 870px;
	top: 4944px;
	overflow: visible;
}
#Premium_Drinking_Water {
	left: 958px;
	top: 5127px;
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 144px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#ID3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 414px;
	height: 413px;
	left: 8px;
	top: 1377px;
	overflow: visible;
}
#Group_5 {
	position: absolute;
	width: 639px;
	height: 662px;
	left: 6px;
	top: 3564px;
	overflow: visible;
}
#Rectangle_39 {
	opacity: 0.89;
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_39 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 657px;
	height: 680px;
	left: 0px;
	top: 0px;
}

#Rectangle_40 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 270px;
	height: 30px;
	left: 20px;
	top: 117px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
}
#Full_Name {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 31px;
	top: 93px;
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 26px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Company_Name {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 28px;
	top: 170px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Email {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 30px;
	top: 261px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#CONTACT_SALES {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 47px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 415px;
	height: 66px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Rectangle_38 {
	fill: rgba(255,165,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_38 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 147px;
	height: 52px;
	left: 312px;
	top: 566px;
}

#Rectangle_37 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 477px;
	height: 179px;
	left: 17px;
	top: 376px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
}
#Submit {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 338px;
	top: 571px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	cursor: pointer;
}

#Rectangle_35 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 270px;
	height: 30px;
	left: 24px;
	top: 292px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
}

#Rectangle_36 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 270px;
	height: 30px;
	left: 23px;
	top: 204px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
}
#Enquiry {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 29px;
	top: 343px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#we_believe_in_building_lasting {
	left: 17px;
	top: 2335px;
	position: absolute;
	overflow: visible;
	width: 853px;
	height: 213px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(15,255,255,1);
}
#GREEN_PRINTING_GREENER_WORLD {
	left: 26px;
	top: 2510px;
	position: absolute;
	overflow: visible;
	width: 879px;
	height: 138px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Sustainability_is_at_the_heart {
	left: 24px;
	top: 2580px;
	position: absolute;
	overflow: visible;
	width: 854px;
	height: 300px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(15,255,255,1);
}
#DISCOVER_THE_SMART_LABEL_EFFEC {
	left: 31px;
	top: 2819px;
	position: absolute;
	overflow: visible;
	width: 807px;
	height: 90px;
	line-height: 95px;
	margin-top: -27.5px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Discover_why_businesses_and_in {
	left: 37px;
	top: 2892px;
	position: absolute;
	overflow: visible;
	width: 783px;
	height: 300px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#How_We_Work {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 356px;
	top: 4267px;
	position: absolute;
	overflow: visible;
	width: 667px;
	height: 107px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Rectangle_42 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 801;
	height: 446;
	left: 256px;
	top: 4374px;
	overflow: visible;
}
#Capture {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 609;
	height: 472;
	left: 688px;
	top: 3664px;
	overflow: visible;
}
#Get_In_Touch_with_Us_with {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 504px;
	top: 3392px;
	position: absolute;
	overflow: visible;
	width: 667px;
	height: 196px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#KEEPING__YOUR__PRODUCTS__VISIB {
	left: 721px;
	top: 256px;
	position: absolute;
	overflow: visible;
	width: 541px;
	height: 521px;
	text-align: right;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Read_More {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 537px;
	top: 993px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 35px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
	cursor: pointer;
}