.mediaViewInfo {
	--web-view-name: services;
	--web-view-id: services;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: services;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	scroll-behavior: smooth;
}
#services {
	position: absolute;
	width: 1313px;
	height: 3526px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: services;
	--web-view-id: services;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
#d6f885132d0fb7928b402e5dee2b78 {
	opacity: 70%;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 1280px;
	height: 1034px;
	left: 14px;
	top: 29px;
	overflow: visible;
}
#IMG_8536 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 484px;
	height: 323px;
	left: 50px;
	top: 135px;
	overflow: visible;
}
#blue-smooth-wall-textured-back {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 688px;
	height: 444px;
	left: 565px;
	top: 110px;
	overflow: visible;
}
#blue-smooth-wall-textured-back_n {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 1243px;
	height: 295px;
	left: 19px;
	top: 548px;
	overflow: visible;
}
#In_the_realm_of_printing_techn {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 602px;
	top: 146px;
	position: absolute;
	overflow: visible;
	width: 637px;
	height: 515px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(15,255,255,1);
	letter-spacing: 2px;
}
#TECHNOLOGY {
	left: 608px;
	top: 89px;
	position: absolute;
	overflow: visible;
	width: 747px;
	height: 124px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Printing {
	left: 613px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 653px;
	height: 41px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#DT400600 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 192px;
	height: 158px;
	left: 1064px;
	top: 1759px;
	overflow: visible;
}
#images_1 {
	position: absolute;
	width: 142px;
	height: 142px;
	left: 880px;
	top: 1775px;
	overflow: visible;
}
#Rectangle_13 {
	opacity: 0.5;
	fill: rgba(169,169,169,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 386px;
	height: 108px;
	left: 25px;
	top: 1307px;
}
#Quality {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 99px;
	top: 1370px;
	position: absolute;
	overflow: visible;
	width: 1084px;
	height: 78px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#blue-smooth-wall-textured-back_v {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 824px;
	height: 352px;
	left: 26px;
	top: 1415px;
	overflow: visible;
}
#ASSURACE {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 99px;
	top: 1369px;
	position: absolute;
	overflow: visible;
	width: 1084px;
	height: 92px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Where_precision_and_perfection {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 50px;
	top: 1464px;
	position: absolute;
	overflow: visible;
	width: 530px;
	height: 489px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(15,255,255,1);
	letter-spacing: 2px;
}
#IMG_8580 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 690px;
	height: 460px;
	left: 583px;
	top: 1307px;
	overflow: visible;
}
#ID71544731a0fc8952d59348e3b2c0 {
	position: absolute;
	width: 1205.5px;
	height: 679.5px;
	left: 36px;
	top: 1932px;
	overflow: visible;
}
#Rectangle_15 {
	opacity: 0.75;
	fill: rgba(255,165,0,1);
}
.Rectangle_15 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1257px;
	height: 697px;
	left: 32px;
	top: 1932px;
}
#boxes {
	position: absolute;
	width: 176px;
	height: 176px;
	left: 61px;
	top: 1775px;
	overflow: visible;
}
#PACKAGING {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 240px;
	top: 1840px;
	position: absolute;
	overflow: visible;
	width: 328px;
	height: 111px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#blue-smooth-wall-textured-back_ {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 586px;
	height: 680px;
	left: 684px;
	top: 1931px;
	overflow: visible;
}
#Where_products_transition_from {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 79px;
	top: 1971px;
	position: absolute;
	overflow: visible;
	width: 504px;
	height: 869px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#IMG_8595 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 360.5px;
	height: 240px;
	left: 479px;
	top: 2371px;
	overflow: visible;
}
#IMG_8674 {
	opacity: 0.1;
	position: absolute;
	width: 1228px;
	height: 819px;
	left: 41px;
	top: 2629px;
	overflow: visible;
}
#DELIVERY_TIME__ {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 102px;
	top: 2647px;
	position: absolute;
	overflow: hidden;
	width: 240px;
	height: 86px;
	text-align: right;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#delivery-boy {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 257px;
	height: 257px;
	left: 824px;
	top: 2553px;
	overflow: visible;
}
#BSMOOTH {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 664px;
	height: 364px;
	left: 41px;
	top: 2719px;
	overflow: visible;
}
#Our_delivery_solutions_are_bui {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 54px;
	top: 2733px;
	position: absolute;
	overflow: visible;
	width: 555px;
	height: 584px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(15,255,255,1);
	letter-spacing: 2px;
}
#chronometer {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 199px;
	height: 199px;
	left: 867px;
	top: 2033px;
	overflow: visible;
}
#Graphics_Design {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 61px;
	top: 868px;
	position: absolute;
	overflow: visible;
	width: 1084px;
	height: 78px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#graphic-designer {
	position: absolute;
	width: 351px;
	height: 351px;
	left: 61px;
	top: 956px;
	overflow: visible;
}
#Rectangle_43 {
	opacity: 0.5;
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_43 {
	position: absolute;
	overflow: visible;
	width: 692px;
	height: 448px;
	left: 565px;
	top: 850px;
}
#As_a_graphics_designer_within_ {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 657px;
	top: 890px;
	position: absolute;
	overflow: visible;
	width: 598px;
	height: 417px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#check-mark {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 590px;
	top: 890px;
	overflow: visible;
}
#check-mark_bh {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 590px;
	top: 974px;
	overflow: visible;
}
#check-mark_bi {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 590px;
	top: 1075px;
	overflow: visible;
}
#Group_4 {
	position: absolute;
	width: 1300px;
	height: 50px;
	left: 4px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(169,169,169,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1300px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#_HOME {
	left: 173px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 58px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
	cursor: pointer;
}
#_HOME :Hover{
	color:rgba(255,165,0,1);
}
#_OUR_SERVICES_ {
	left: 278px;
	top: 1px;
	position: absolute;
	overflow: visible;
    width: 123px;
	height: 47px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#_NEWSLETTER_ {
	left: 430px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 49px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#_NEWSLETTER_ :Hover{
	color:rgba(255,165,0,1);
}
#Polygon_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Polygon_1 {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 10px;
	transform: translate(-4px, 0px) matrix(1,0,0,1,402,19) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#_CATALOGUE_ {
	left: 465px;
	top: 1px;
	position: absolute;
	overflow: hidden;
	width: 105px;
	height: 36px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#_ABOUT_US_ {
	left: 585px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 183px;
	height: 37px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	cursor: pointer;
}
#_ABOUT_US_ :Hover{
	color:rgba(255,165,0,1);
}
#check-mark_br {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 594px;
	top: 1169px;
	overflow: visible;
}
#Rectangle_8 {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 1312px;
	height: 415px;
	left: 0px;
	top: 3107px;
}
#GET_IN_TOUCH_ {
	left: 36px;
	top: 3178px;
	position: absolute;
	overflow: visible;
	width: 89px;
	height: 214px;
	text-align: right;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	text-decoration: underline;
}
#phone {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 37px;
	top: 3214px;
	overflow: visible;
}
#gmail {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 37px;
	top: 3282px;
	overflow: visible;
}
#infosmartlabelcoke_salessmartl {
	left: 77px;
	top: 3284px;
	position: absolute;
	overflow: visible;
	width: 166px;
	height: 55px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#infosmartlabelcoke_salessmart2 {
	left: 77px;
	top: 3225px;
	position: absolute;
	overflow: visible;
	width: 166px;
	height: 55px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#OUR_INFO__Home___Our_Services_ {
	left: 572px;
	top: 3176px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	cursor:pointer;
	
}
#ourinfo{
		text-decoration: underline;
}
#SUBSCRIBE_NEWSLETTER__Email__ {
	left: 942px;
	top: 3174px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	
}

#Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 281px;
	height: 38px;
	left: 939px;
	top: 3241px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
}

#Rectangle_10 {
	fill: rgba(255,165,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 24px;
	left: 961px;
	top: 3309px;
}
#subscribe_ {
	left: 981px;
	top: 3313px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 214px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	cursor: pointer;
}
#Stay_in_The_Know_ {
	left: 475px;
	top: 3471px;
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 49px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#instagram {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 701px;
	top: 3464px;
	overflow: visible;
}
#facebook {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 772px;
	top: 3464px;
	overflow: visible;
}
#linkedin {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 626px;
	top: 3465px;
	overflow: visible;
}
#copy{
	position: absolute;
	left: 620px;
	top: 3500px;
    text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	
}
#link{
			text-decoration: none;
			color:#ffffff;

		}
		#link:hover{
			text-decoration: none;
		     color: rgba(255,165,0,1);

		}
		#link1{
			text-decoration: none;
			color:#ffffff;


		}
		#link1:hover{
			text-decoration: none;
		    color: rgba(255,165,0,1);

		}
		#link2{
			text-decoration: none;
			color:#ffffff;
		}
		#link2:hover{
			text-decoration: none;
			color: rgba(255,165,0,1);
		}
		#link3{
			text-decoration: none;
			color: #ffffff;
		}
		#link3:hover{
			text-decoration: none;
			color: rgba(255,165,0,1);
		}
		

		#link4{
			text-decoration: none;
			color: #ffffff;
		}
		#link4:hover{
			text-decoration: none;
			color: rgba(255,165,0,1);
		}
#Group_3 {
	position: absolute;
	width: 451px;
	height: 204px;
	left: 244px;
	top: 48px;
	overflow: visible;
	display: none;
}
#Rectangle_3 {
	opacity: 0.78;
	fill: rgba(169,169,169,1);
}
.Rectangle_3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 302px;
	height: 202px;
	left: 0px;
	top: 0px;
}
#Graphics_Design_b {
	left: 26px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 31px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color:#ffffff;
	letter-spacing: 2px;
}
#Graphics_Design_b:Hover {
	color: rgba(255,165,0,1);
}
#Packaging {
	left: 27px;
	top: 129px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 39px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
}
#Packaging:Hover {
 color:rgba(255,165,0,1);
}
#Quality_Assurance {
	left: 26px;
	top: 93px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 39px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
}
#Quality_Assurance:Hover{
	color:rgba(255,165,0,1);;

}
#Printing_cb {
	left: 29px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 31px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
}
#Printing_cb:hover{
	color:rgba(255,165,0,1);
}
#Delivery {
	left: 25px;
	top: 165px;
	position: absolute;
	overflow: visible;
	width: 423px;
	height: 39px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 2px;
}
#Delivery:Hover{
	color:rgba(255,165,0,1);
}