.mediaViewInfo {
	--web-view-name: aboutus;
	--web-view-id: aboutus;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: aboutus;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#aboutus {
	position: absolute;
	width: 430px;
	height: 3446px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: aboutus;
	--web-view-id: aboutus;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_29 {
	opacity: 0.2;
	fill: rgba(112,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_29 {
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 1265px;
	left: 0px;
	top: 99px;
}
#menu_1 {
	position: absolute;
	width: 87px;
	height: 87px;
	left: 18px;
	top: 20px;
	overflow: visible;
	transition: all 0.20000000298023224s ease-in-out;
	--web-animation: fadein 0.20000000298023224s ease-in-out;
	--web-action-type: page;
	--web-action-target: aboutus___1.html;
	cursor: pointer;
}
#Group_17 {
	position: absolute;
	width: 355.95px;
	height: 80px;
	left: 37px;
	top: 107px;
	overflow: visible;
}
#ID10110071high {
	position: absolute;
	width: 71px;
	height: 38px;
	left: 0px;
	top: 21px;
	overflow: visible;
}
#KSL-Logo-removebg-preview {
	position: absolute;
	width: 58px;
	height: 51px;
	left: 82px;
	top: 15px;
	overflow: visible;
}
#Di3qIJjXcAAwl_d {
	position: absolute;
	width: 92px;
	height: 40px;
	left: 151px;
	top: 21px;
	overflow: visible;
}
#full-m2i8m2H7d3G6H7i8-removebg {
	position: absolute;
	width: 61px;
	height: 80px;
	left: 254px;
	top: 0px;
	overflow: visible;
}
#download_2 {
	position: absolute;
	width: 29.95px;
	height: 46px;
	left: 326px;
	top: 13px;
	overflow: visible;
}
#About_US {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 29px;
	top: 215px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Smart_Label_printers_Ltd_began {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 29px;
	top: 243px;
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 189px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Mission_ {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 29px;
	top: 433px;
	position: absolute;
	overflow: visible;
	width: 139px;
	height: 36px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#To_achieve_a_stable_market_lea {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 29px;
	top: 461px;
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 95px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Vision {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 29px;
	top: 563px;
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 28px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#To_convey_the_message_of_our_c {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 29px;
	top: 591px;
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 104px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Quality_of_Service {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 29px;
	top: 686px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 45px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#We_pride_ourselves_on_the_qual {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 29px;
	top: 723px;
	position: absolute;
	overflow: visible;
	width: 365px;
	height: 287px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#blue-smooth-wall-textured-back {
	position: absolute;
	width: 430px;
	height: 458px;
	left: 0px;
	top: 1038px;
	overflow: visible;
}
#Director {
	position: absolute;
	width: 249px;
	height: 213px;
	left: 13px;
	top: 1216px;
	overflow: visible;
}
#ID2382e883-353c-4aa3-9b7d-5054 {
	position: absolute;
	width: 332px;
	height: 249px;
	left: 120px;
	top: 1017px;
	overflow: visible;
}
#Group_19 {
	position: absolute;
	width: 376px;
	height: 848px;
	left: 28px;
	top: 1535px;
	overflow: visible;
}
#Rectangle_30 {
	opacity: 0.97;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_30 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 393px;
	height: 866px;
	left: 0px;
	top: 0px;
}
#Reviews {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 167px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 122px;
	height: 38px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#user {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 32px;
	top: 69px;
	overflow: visible;
}
#Rectangle_31 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_31 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 269px;
	height: 128px;
	left: 78px;
	top: 71px;
}
#user_bg {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 30px;
	top: 256px;
	overflow: visible;
}
#user_bh {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 32px;
	top: 474px;
	overflow: visible;
}
#user_bi {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 30px;
	top: 685px;
	overflow: visible;
}
#Rectangle_68 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_68 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 269px;
	height: 154px;
	left: 78px;
	top: 255px;
}
#Rectangle_69 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_69 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 269px;
	height: 128px;
	left: 78px;
	top: 466px;
}
#Rectangle_70 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_70 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 269px;
	height: 128px;
	left: 78px;
	top: 660px;
}
#Weve_been_using_this_label_pri {
	left: 90px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 101px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#The_team_at_this_company_goes_ {
	left: 90px;
	top: 267px;
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 98px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#We_love_working_with_this_labe {
	left: 90px;
	top: 475px;
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 98px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#From_start_to_finish_this_comp {
	left: 90px;
	top: 668px;
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 107px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#Sales_Team {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 99px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 36px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Kaluworks {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 185px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 93px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Sales_Team_bs {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 93px;
	top: 234px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Equity_Afia {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 185px;
	top: 234px;
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Sales_Team_bu {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 93px;
	top: 445px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 43px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Narcol_Aluminium {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 182px;
	top: 445px;
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 40px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Sales_Team_Tropical_Lush_Ltd {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 101px;
	top: 639px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 21px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Group_11 {
	position: absolute;
	width: 363px;
	height: 570px;
	left: 34px;
	top: 2431px;
	overflow: visible;
	border-style: solid;
	border-color:  rgba(255,165,0,1);
	border-radius: 10px;

	
}
#empy{
	position: absolute;
	top:108px;
	left: 10px;
	color: red;
}
#empy2{
	position: absolute;
	top:230px;
	left: 10px;
	color: red;
}
#Full_Name {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 4px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 25px;
	text-align: left;
	font-family: Perpetua Titling MT;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Company_Name {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 5px;
	top: 156px;
	position: absolute;
	overflow: visible;
	width: 240px;
	height: 18px;
	text-align: left;
	font-family: Perpetua Titling MT;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#SEND_FEEDBACK {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 364px;
	height: 28px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
	padding: 10px;
}
#Rectangle_38 {
	fill: rgba(255,165,0,1);
}
.Rectangle_38 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	width: 120.586px;
	height: 38.708px;
	position: absolute;
	overflow: visible;
	left: 0px;
	transform: translate(7.286px, -10.979px) matrix(1,0,0,1,208.1515,532.0578) rotate(-1deg);
	transform-origin: center;

}

#Rectangle_z37 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 344px;
	height: 196px;
	left: 5px;
	top: 313px;
	border-radius:10px;
	border-style:solid;
	padding: 10px;
}
#Submit {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 227px;
	top: 528px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Enquiry {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 5px;
	top: 276px;
	position: absolute;
	overflow: visible;
	width: 170px;
	height: 24px;
	text-align: left;
	font-family: Perpetua Titling MT;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}

#Rectangle_z94 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 340px;
	height: 40px;
	left: 5px;
	top: 67px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
}

#Rectangle_z107 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 340px;
	height: 40px;
	left: 5px;
	top: 187px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
}
#Rectangle_112 {
	opacity: 100%;
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_112 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 409px;
	height: 631px;
	left: 20px;
	top: 2411px;
}
#Group_15 {
	position: absolute;
	width: 355px;
	height: 142.5px;
	left: 38px;
	top: 3293px;
	overflow: visible;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 355.003px;
	height: 2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Stay_in_The_Know_ {
	left: 0.5px;
	top: 24.5px;
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 28px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#instagram {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 225.5px;
	top: 17.5px;
	overflow: visible;
}
#linkedin {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 151.5px;
	top: 18.5px;
	overflow: visible;
}
#Copyright__2025_ {
	left: 114.5px;
	top: 114.5px;
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 28px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#infosmartlabelscoke_salessmart {
	left: 0.5px;
	top: 63.5px;
	position: absolute;
	overflow: hidden;
	width: 142px;
	height: 40px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#ID254_722_851_157 {
	left: 230.5px;
	top: 71.5px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 19px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#facebook {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 301.5px;
	top: 18.5px;
	overflow: visible;
}
#ID28916867-removebg-preview {
	position: absolute;
	width: 194px;
	height: 135px;
	left: 118px;
	top: 3098px;
	overflow: visible;
}
#link{
	text-decoration: none;
	color: #ffffff;

	}
	#Line_7 {
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
#Quality_Assurance{
	left: 83px;
	top: 375px;
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 19px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 72px;
	height: 1px;
	left: 82px;
	top: 360px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_16 {
	position: fixed;
	width: 251px;
	height: 641px;
	left: -20px;
	top: 28px;
	display: none;
}
#Rectangle_111 {
	opacity: 0.64;
	fill: rgba(0,0,0,1);
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_111 {
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 629px;
	left: 10px;
	top: 12px;
}
#_HOME {
	left: 48px;
	top: 111px;
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 36px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#_OUR_SERVICES_ {
	left: 48px;
	top: 154px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}

#_NEWSLETTER_ {
	left: 48px;
	top: 390px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 47px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;

}
#_ABOUT_US_ {
	left: 48px;
	top: 430px;
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 50px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Line_2 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 218px;
	height: 1px;
	left: 23px;
	top: 469px;
	transform: matrix(1,0,0,1,0,0);
}
#Stay_in_The_Know__cp {
	left: 65px;
	top: 482px;
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 28px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#linkedin_cq {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 62px;
	top: 514px;
	overflow: visible;
}
#instagram_cr {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 107px;
	top: 514px;
	overflow: visible;
}
#facebook_cs {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 152px;
	top: 514px;
	overflow: visible;
}
#Line_3 {
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 218px;
	height: 1px;
	left: 25px;
	top: 94px;
	transform: matrix(1,0,0,1,0,0);
}
#_SMARTLABEL_PRINTERS {
	left: 85px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 142px;
	height: 54px;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Asset_3 {
	position: absolute;
	width: 49px;
	height: 72px;
	left: 46px;
	top: 14px;
	overflow: visible;
}
#Printing {
	left: 83px;
	top: 203px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 19px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Graphic_Design {
	left: 83px;
	top: 245px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 19px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Packaging {
	left: 83px;
	top: 291px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 19px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Delivery {
	left: 83px;
	top: 333px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 19px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Line_4 {
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 72px;
	height: 1px;
	left: 82px;
	top: 232px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_5 {
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 72px;
	height: 1px;
	left: 82px;
	top: 275px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_6 {
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6 {
	overflow: visible;
	position: absolute;
	width: 72px;
	height: 1px;
	left: 82px;
	top: 319px;
	transform: matrix(1,0,0,1,0,0);
}
#close {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 240px;
	top: 0px;
	overflow: visible;
}