.mediaViewInfo {
	--web-view-name: newsletter – 1;
	--web-view-id: newsletter__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: newsletter__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#newsletter__1 {
	position: absolute;
	width: 430px;
	height: 3219px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: newsletter – 1;
	--web-view-id: newsletter__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#menu_1 {
	position: fixed;
	width: 87px;
	height: 87px;
	left: 343px;
	top: 20px;
	overflow: visible;

}
#IMG_8744 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 288px;
	height: 220px;
	left: 71px;
	top: 177px;
	overflow: visible;
}
#Rectangle_26 {
	opacity: 0.98;
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_26 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 409px;
	height: 989px;
	left: 20px;
	top: 100px;
}
#The_Power_of_Teamwork_Achievin {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 29px;
	top: 116px;
	position: absolute;
	overflow: visible;
	width: 382px;
	height: 124px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#In_todays_fast-paced_world_whe {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 28px;
	top: 438px;
	position: absolute;
	overflow: visible;
	width: 376px;
	height: 624px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Rectangle_112 {
	opacity: 0.98;
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_112 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 409px;
	height: 1078px;
	left: 20px;
	top: 1084px;
}
#Building_Bonds_Beyond_Business {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 28px;
	top: 1097px;
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 69px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#IMG_8834 {
	position: absolute;
	width: 302px;
	height: 201px;
	left: 64px;
	top: 1172px;
	overflow: visible;
}
#In_the_bustling_corridors_of_S {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 28px;
	top: 1414px;
	position: absolute;
	overflow: visible;
	width: 376px;
	height: 730px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Rectangle_113 {
	opacity: 0.98;
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_113 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 409px;
	height: 864px;
	left: 20px;
	top: 2157px;
}
#The_EDALE_Beta_250_ {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 29px;
	top: 2185px;
	position: absolute;
	overflow: visible;
	width: 315px;
	height: 61px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#IMG_8774 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 302px;
	height: 202px;
	left: 64px;
	top: 2218px;
	overflow: visible;
}
#Were_excited_to_unveil_the_lat {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 29px;
	top: 2490px;
	position: absolute;
	overflow: visible;
	width: 374px;
	height: 513px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2px;
}
#Group_15 {
	position: absolute;
	width: 355px;
	height: 142.5px;
	left: 38px;
	top: 3044px;
	overflow: visible;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 355.003px;
	height: 2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Stay_in_The_Know_ {
	left: 0.5px;
	top: 24.5px;
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 28px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#instagram {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 225.5px;
	top: 17.5px;
	overflow: visible;
}
#linkedin {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 151.5px;
	top: 18.5px;
	overflow: visible;
}
#Copyright__2025_ {
	left: 114.5px;
	top: 114.5px;
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 28px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#infosmartlabelscoke_salessmart {
	left: 0.5px;
	top: 63.5px;
	position: absolute;
	overflow: hidden;
	width: 142px;
	height: 40px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#ID254_722_851_157 {
	left: 230.5px;
	top: 71.5px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 19px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#facebook {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 301.5px;
	top: 18.5px;
	overflow: visible;
}
#Group_16 {
	position: fixed;
	width: 251px;
	height: 641px;
	left: 165px;
	top: 28px;
	display: ;
}
#Rectangle_111 {
	opacity: 0.64;
	fill: rgba(0,0,0,1);
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_111 {
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 629px;
	left: 10px;
	top: 12px;
}
#_HOME {
	left: 48px;
	top: 111px;
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 36px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#_OUR_SERVICES_ {
	left: 48px;
	top: 154px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#_NEWSLETTER_ {
	left: 48px;
	top: 390px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 47px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#_ABOUT_US_ {
	left: 48px;
	top: 430px;
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 50px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Line_2 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 218px;
	height: 1px;
	left: 23px;
	top: 469px;
	transform: matrix(1,0,0,1,0,0);
}
#Stay_in_The_Know__bl {
	left: 65px;
	top: 482px;
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 28px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#linkedin_bm {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 62px;
	top: 514px;
	overflow: visible;
}
#instagram_bn {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 107px;
	top: 514px;
	overflow: visible;
}
#facebook_bo {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 152px;
	top: 514px;
	overflow: visible;
}
#Line_3 {
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 218px;
	height: 1px;
	left: 25px;
	top: 94px;
	transform: matrix(1,0,0,1,0,0);
}
#_SMARTLABEL_PRINTERS {
	left: 85px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 142px;
	height: 54px;
	text-align: center;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,165,0,1);
	letter-spacing: 2px;
}
#Asset_3 {
	position: absolute;
	width: 49px;
	height: 72px;
	left: 46px;
	top: 14px;
	overflow: visible;
}
#Printing {
	left: 83px;
	top: 203px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 19px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Graphic_Design {
	left: 83px;
	top: 245px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 19px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Packaging {
	left: 83px;
	top: 291px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 19px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Delivery {
	left: 83px;
	top: 333px;
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 19px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Quality_Assurance{
	left: 83px;
	top: 375px;
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 19px;
	text-align: left;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
}
#Line_4 {
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 72px;
	height: 1px;
	left: 82px;
	top: 232px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_5 {
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 72px;
	height: 1px;
	left: 82px;
	top: 275px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_6 {
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6 {
	overflow: visible;
	position: absolute;
	width: 72px;
	height: 1px;
	left: 82px;
	top: 319px;
	transform: matrix(1,0,0,1,0,0);
}
#link{
	text-decoration: none;
	color: #ffffff;

	}
#Line_7 {
	fill: transparent;
	stroke: rgba(255,165,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 72px;
	height: 1px;
	left: 82px;
	top: 360px;
	transform: matrix(1,0,0,1,0,0);
}
#close {
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	overflow: visible;
}